/* You can add global styles to this file, and also import other style files */
@use 'theme-colors' as theme;
@use '@angular/material' as mat;

html {
  color-scheme: light;
  @include mat.theme((
    color: (
      primary: theme.$primary-palette,
      tertiary: theme.$tertiary-palette
    ),
    typography: Roboto,
    density: 0
  ));
}

html, body {
  height: 100%;
}


body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;


  background: var(--mat-sys-surface-container-lowest);
  color: var(--mat-sys-on-surface);


  &.dark, .dark {
    color-scheme: dark;
  }

}
